*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background-color:#36454f; 
    /* #353535; */
}
h1{
    color: rgb(195, 193, 193);
}
.container{
    text-align: center;
}

.navbar{
    background: #7B3F00;
    margin-top: 10px;
}
a:hover{
    color: black;
}
.allButtons{
    margin-top: 30px;
}
.allButtons button{
    background: #4d4d4d;
    color: white;
}
#initializer{
    margin-top: 50px;
    font-size: 50px;
}